# Robostrategy for minimal, using sets of targets submitted Feb 2019. 

[General]
plan = minimal-3

[Documentation]
summary = A test of the code for using the configuration file.
description = This plan was just designed to test the use of 
  a configuration file, in order to remove hard-coded decisions.
  It only includes the 100 pc and CB samples.

[Fields]
NSDiv = -14.
AllSkySloane = FromTargets
RM = bhm_rm_174x8

[CadencesFromTargets]
mwm_galactic_1x1 = bright_single-n
mwm_100pc_faint_1x1 = dark_single-n mwm_100pc_faint_1x1
mwm_100pc_bright_2x1 = bright_single-n mwm_100pc_bright_2x1
bhm_spiders_1x1 = dark_single-n
bhm_spiders_1x4
bhm_aqmes_medium_12x4
bhm_aqmes_wide_2x4
bhm_aqmes_wide_3x4
mwm_wd_3x1

[Programs]
mwm_100pc
mwm_cb

[Allocation]
AllFields
