<html><head>
<style>
    table, th, tr, td {border: 1px solid black;
                       border-collapse: collapse;
}
</style>

</head>

<body>

<h2>{{plan}}</h2>

<table style="border: 1px solid black;" cellspacing=0px>
<thead>
    <tr>
    <th><b>Carton</b></th>
    <th><b>Description</b></th>
    <th><b>Targets</b></th>
    <th><b>Satisfied</b></th>
    <th><b>Reassigned</b></th>
    <th><b>Allowed</b></th>
    <th><b>In Cadence</b></th>
    <th><b>Covered</b></th>
    <th><b>Epochs</b></th>
    <th><b>Exposures </b></th>
    <th><b>Exposures (SRD)</b></th>
    <th><b>Exposures (Reassign)</b></th>
    <th><b>Exposures (Open)</b></th>
    <th><b>Exposures (Filler)</b></th>
    <th><b>Exposures (Complete)</b></th>
    </tr>
</thead>

{% for c in cartons %}
<tr>
<td align='right' style="color: blue;">{{c}}</td>
<td align='right'>{{cartons[c].description}}</td>
<td align='right' style="color: blue;">{{cartons[c].ntarget}}</td>
<td align='right' style="color: blue;">{{cartons[c].nsatisfied}}</td>
<td align='right'>{{cartons[c].nextra}}</td>
<td align='right'>{{cartons[c].nallowed}}</td>
<td align='right'>{{cartons[c].nincadence}}</td>
<td align='right'>{{cartons[c].ncovered}}</td>
<td align='right' style="color: blue;">{{cartons[c].nepochs}}</td>
<td align='right' style="color: blue;">{{cartons[c].nexps}}</td>
<td align='right'>{{cartons[c].nexps_srd}}</td>
<td align='right'>{{cartons[c].nexps_reassign}}</td>
<td align='right'>{{cartons[c].nexps_open}}</td>
<td align='right'>{{cartons[c].nexps_filler}}</td>
<td align='right'>{{cartons[c].nexps_complete}}</td>
{% endfor %}

</body>
</html>
