<html><head>
<style>
    table, th, tr, td {border: 1px solid black}
</style>
<body>

<table style="border: 1px solid black;" cellspacing=0px>
    <thead>
        <tr>
            <th>Priority</th> <th>Carton</th> <th>Cadence</th>
        </tr>
    </thead>
		<tbody>
			{% for combo in combos %}
			<tr>
				{% if combo.first_priority %}
				<td>{{ combo.priority }}</td>
				{% else %}
				<td></td>
				{% endif %}
				{% if combo.first_carton %}
				<td>{{ combo.carton }}</td>
				{% else %}
				<td></td>
				{% endif %}
				{% if combo.first_cadence %}
				<td>{{ combo.cadence }}</td>
				{% else %}
				<td></td>
				{% endif %}
			</tr>
			{% endfor %}
     </tbody}
</table>
</body>
</html>
