<html><head>
<style>
    table, th, tr, td {border: 1px solid black}
</style>
<body><h2>Description</h2>
<p>This page describes the results of robostrategy for plan {{plan}},
for the SDSS-V FPS carton observing for the Milky Way Mapper and
the Black Hole Mapper. These results are for the operations at
{% if observatory == 'both' %} APO and LCO together.
{% else %} {% filter upper %}{{ observatory }}{% endfilter %}.
{% endif %} {{method}}
</p>

<p><b>Summary:</b>{{summary}}</p>

<p><b>Cadences:</b>The detailed description of all 
cadences used can be
	found <a href="rsCadences-{{plan}}-{{observatory}}.html">
here</a>.</p>

<p><b>Cartons:</b></p>

<table style="border: 1px solid black;" cellspacing=0px>
    <thead>
        <tr>
            <th>Carton</th> <th>Version</th>
        </tr>
    </thead>
		<tbody>
			{% for carton in Cartons %}
			<tr><td>{{ carton.carton }}</td>
				<td>{{ carton.version }}</td></tr>
			{% endfor %}
     </tbody}
</table>

<table style="border: 1px solid black;" cellspacing=0px>
    <thead>
        <tr>
            <th colspan="2">Field types included.</th>
        </tr>
        <tr>
            <td><b>Fields</b></td> <td><b>Cadences</b></td>
        </tr>
    </thead>
		<tbody>
			{% for field in Fields %}
			<tr><td>{{ field.key }}</td>
				<td>{{ field.value }}</td></tr>
			{% endfor %}
		</tbody>
</table>

<table style="border: 1px solid black;" cellspacing=0px>
    <thead>
        <tr>
            <th colspan="2">How field cadences are selected from targets.</th>
        </tr>
        <tr>
            <td><b>Target Cadence</b></td> <td><b>Field Cadences to Include</b></td>
        </tr>
    </thead>
		<tbody>
			{% for cadence in CadencesFromTargets %}
			<tr><td>{{cadence.field_cadence}}</td>
				<td>{{cadence.target_cadence}}</td></tr>
			{% endfor %}
		</tbody>
</table>

<p>The full configuration file can be found 
<a href="robostrategy-{{plan}}.cfg">here</a> or
on <a href="https://github.com/sdss/rsconfig/blob/master/etc/robostrategy-{{plan}}.cfg">github</a>.
</p>

<h2>Allocation of time</h2>

  <p> For both all time and for different sky brightnesses, the allocation of time as a function of LST.</p>

{% for obs in observatories %}
<table>
	<tr>
		<td><b>{% filter upper %}{{obs}}{% endfilter %}</b></td>
		{% for type in ['all', 'dark', 'bright'] %}
		<td>
			<a href='rsAllocation-lst-{{type}}-{{plan}}-{{obs}}.png'>
				<img src='rsAllocation-lst-{{type}}-{{plan}}-{{obs}}.png'
						 width=300px/>
			</a>
		</td>
		{% endfor %}
	</tr>
</table>
{% endfor %}

<h2>Exposures per field</h2>

  <p>These plots show the number of exposures per field, 
		and then the number of dark exposures and number of 
		bright exposures. Note that these do not necessarily 
		match the cadences, since bright cadences can be 
		observed in dark time.</p>

{% for obs in observatories %}
<table>
	<tr>
		<td><b>{% filter upper %}{{obs}}{% endfilter %}</b></td>
		{% for type in ['', '-dark', '-bright'] %}
		<td>
			<a href='rsAllocation-radec{{type}}-{{plan}}-{{obs}}.png'>
				<img src='rsAllocation-radec{{type}}-{{plan}}-{{obs}}.png'
				width=300px/>
			</a>
		</td>
		{% endfor %}
	</tr>
</table>
{% endfor %}

<h2>Cadences per field</h2>

    <p>The left column shows which fields had an opportunity to be allowed each cadence. The right column shows how exposures were allocated to those fields, within each cadence.</p>

{% for obs in observatories %}
<h3>{% filter upper %}{{obs}}{% endfilter %}</h3>
<table>
	{% for cadence in field_cadences[obs] %}
	<tr>
		<td>
			<a href='rsFieldCadences-{{cadence.field_cadence_name}}-{{plan}}-{{obs}}.png'>
				<img src='rsFieldCadences-{{cadence.field_cadence_name}}-{{plan}}-{{obs}}.png' width=300px/>
			</a>
		</td>
		<td>
			<a href='rsAllocation-radec-{{cadence.allocation_name}}-{{plan}}-{{obs}}.png'>
				<img src='rsAllocation-radec-{{cadence.allocation_name}}-{{plan}}-{{obs}}.png' width=300px/>
			</a>
		</td>
	</tr>
	{% endfor %}
</table>
{% endfor %}

<h2>Target completeness</h2>

    <p>There are a total of {{ngboss}} targets with BOSS
    observations and {{ngapogee}} targets with APOGEE
    observations.</p>

    <p>These plots show the completeness as a function of cadence group and also carton. Cadence groups lump cadences with the same prefix (e.g. mwm_rv_NxM) to be all within the same group. Targets either get all the necessary exposures for their cadence, or they get none.</p>

    <p>The left column shows the total number of targets in each healpix pixel (scaled with asinh to be able to see the dynamic range. The middle column shows the number of targets completed (scaled with asinh again). The right column shows the fraction. If the fraction is shown as negative (the darkest color) then that means there were zero targets in the pixel to begin with.</p>

<h3>Targets by cadence group</h3>

<table>
	{% for cadence in cadenceGroups %}
	<tr>
		{% for type in ['ntargets', 'ngot', 'fgot'] %}
		<td>
			<a href='rsAssignments-{{type}}-cadence-{{cadence.name}}-{{plan}}-{{observatory}}.png'>
				<img src='rsAssignments-{{type}}-cadence-{{cadence.name}}-{{plan}}-{{observatory}}.png' width=300px/>
			</a>
		</td>
		{% endfor %}
		<td>
		<table>
			<tr>
				<td>Cadence group {{cadence.name}}</td>
			</tr>
			<tr>
				<td>n<sub>target</sub> = {{cadence.ntargets}}</td>
			</tr>
			<tr>
				<td>n<sub>allowed</sub> = {{cadence.nallowed}}</td>
			</tr>
			<tr>
				<td>n<sub>got</sub> = {{cadence.ngot}}</td>
			</tr>
			<tr>
				<td>f<sub>got</sub> = {{cadence.fgot}}</td>
			</tr>
			</tr>
			</td>
		</table>
	</tr>
	{% endfor %}
</table>

<h3>Targets by carton</h3>

<table>
	{% for carton in cartons %}
	<tr>
		{% for type in ['ntargets', 'ngot', 'fgot'] %}
		<td>
			<a href='rsAssignments{{stage}}-{{type}}-carton-{{carton.name}}-{{plan}}-{{observatory}}.png'>
				<img src='rsAssignments{{stage}}-{{type}}-carton-{{carton.name}}-{{plan}}-{{observatory}}.png' width=300px/>
			</a>
		</td>
		{% endfor %}
		<td>
			<table>
				<tr>
					<td>Carton {{carton.name}} : {{carton.description}}</td>
				</tr>
				<tr>
					<td>n<sub>target</sub> = {{carton.ntargets}}</td>
				</tr>
				<tr>
					<td>n<sub>allowed</sub> = {{carton.nallowed}}</td>
				</tr>
				<tr>
					<td>n<sub>got</sub> = {{carton.ngot}}</td>
				</tr>
				<tr>
					<td>f<sub>got</sub> = {{carton.fgot}}</td>
				</tr>
			</table>
		</td>
	</tr>
	{% endfor %}
</table>

</body>
</html>
